<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Angular Leaflet directive</title>

    <meta name="description" content="Topic 1">
    <meta name="author" content="Oscar Belmonte Fernandez">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="../reveal-js/css/reveal.css">
    <link rel="stylesheet" href="../reveal-js/css/theme/simple.css" id="theme">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="../reveal-highlight-themes/styles/default.css">

    <!--<link rel="stylesheet" href="../reveal/lib/css/zenburn.css">-->
    <link rel="stylesheet" href="../reveal-js/lib/css/zenburn.css">

    <!-- Mis ajustes de css -->
    <link rel="stylesheet" href="../css/my.css">


    <!-- Printing and PDF exports -->
    <script>
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match( /print-pdf/gi ) ? '../reveal-js/css/print/pdf.css' : '../reveal-js/css/print/paper.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="../reveal-js/lib/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

<div class="reveal">

    <!-- Any section element inside of this container is displayed as a slide -->
    <div class="slides">
        <section class="center">
            <h1>Web Development</h1>
            <h2>Client Side</h2>
            <h3>angular-leaflet-directive</h3>
            <h4>Óscar Belmonte Fernández</h4>
            <h4>Universitat Jaume I</h4>
        </section>

        <section>
            <h3>Introduction</h3>
            <section>
                <p>You already know how to use maps in a web page using leaflet(Computer Graphics and Visualization).</p>
                <p>You now know how to design the layout of your application using Angular. The next step is to know how to connect these two worlds.</p>
                <p>The answer is by means of <strong>angular-leaflet-directive</strong>.</p>
            </section>
        </section>

        <section>
            <h3>Content</h3>
            <section>
                <ol>
                    <li><a href="#/what_are_directives">What are AngularJS directives?</a></li>
                    <li><a href="#/first_example">First example</a></li>
                    <li><a href="#/geotodo">The GeoTODO project</a></li>
                    <li><a href="#/summary">Summary</a>.</li>
                </ol>
            </section>
        </section>

        <section id="what_are_directives">
            <h3>What are AngularJS directives?</h3>
            <section>
                <p>Taken form the <strong>Angular</strong> web page:</p>
                <blockquote>
                    At a high level, directives are markers on a DOM element (such as an attribute, element name, comment or CSS class) that tell AngularJS's HTML compiler ($compile) to attach a specified behavior to that DOM element (e.g. via event listeners), or even to transform the DOM element and its children.
                </blockquote>
            </section>

        </section>

        <section id="first_example">
            <h3>First example</h3>
            <section>
                <p>From a practical point of view, we can you angular-leaflet-directives to interact with <strong>Leaflet</strong> maps using <strong>AngularJS</strong>.</p>
                <p>Let's crate our first example.</p>
                <ol>
                    <li>Create a new bower project.</li>
                    <li>Install the following modules:</li>
                    <ol>
                        <li>bootstrap.</li>
                        <li>jquery</li>
                        <li>angular.</li>
                        <li>leaflet.</li>
                        <li>angular-leaflet-directive</li>
                    </ol>
                </ol>
                <p>Remember, just type the following to install a module in your project:</p>
                <pre><code lang="console" data-trim>
npm install --save bootstrap
                </code></pre>
            </section>

            <section>
                <p>Let's create the <strong>index.html</strong> file and type in:</p>
                <pre><code lang="javascript" data-trim>
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot; ng-app=&quot;app&quot;&gt;
&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;link href=&quot;./node_modules/bootstrap/dist/css/bootstrap.css&quot; rel=&quot;stylesheet&quot;&gt;
    &lt;link href=&quot;./node_modules/leaflet/dist/leaflet.css&quot; rel=&quot;stylesheet&quot;&gt;
    &lt;script src=&quot;./node_modules/jquery/dist/jquery.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;./node_modules/bootstrap/dist/js/bootstrap.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;./node_modules/angular/angular.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;./node_modules/leaflet/dist/leaflet.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;./node_modules/angular-leaflet-directive/dist/angular-leaflet-directive.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;./js/myScripts.js&quot;&gt;&lt;/script&gt;
    &lt;title&gt;My first AngularJS and Leaflet map&lt;/title&gt;
&lt;/head&gt;
&lt;body ng-controller=&quot;TheController&quot;&gt;
    &lt;div class=&quot;container&quot;&gt;
        &lt;h1&gt;My first Angular and Leaftlet map&lt;/h1&gt;
        &lt;leaflet tiles=&quot;tiles&quot; height=&quot;480px&quot; width=&quot;100%&quot;&gt;&lt;/leaflet&gt;
    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
                </code></pre>
            </section>

            <section>
                <p>Now, let's create the <strong>Angular</strong> controller, so create a new <strong>javascript</strong> file <strong>myScripts.js</strong> in folder named <strong>js</strong>:</p>
                <pre><code lang="javascript" data-trim>
var app = angular.module("app", ["leaflet-directive"]);

app.controller("TheController", ["$scope", function($scope) {
  angular.extend($scope, {
    tiles: {
      url: "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
         options: {
             attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
           }
    }
  })
}]);
                </code></pre>
                <p>That's all! reload your browser to see the result.</p>
            </section>

            <section>
                <p>This is the result, a fully functional leaflet map:</p>
                <p class="center"><img src="img/leafletWorldMap.png" style="width: 1000px"></p>
            </section>

            <section>
                <p>If you want to render a map centered at some point, change the following line in the html file :</p>
                <pre><code lang="html" data-trim>
                  &lt;leaflet id=&quot;firstMap&quot; tiles=&quot;tiles&quot; lf-center=&quot;castellon&quot; height=&quot;480px&quot; width=&quot;100%&quot;&gt;&lt;/leaflet&gt;
                </code></pre>
                <p>And write this code inside the <strong>controller</strong> function:</p>
                <pre><code lang="javascript" data-trim>
app.controller("TheController", ["$scope", function($scope) {
  angular.extend($scope, {
    castellon: {
        lat: 39.98685368305097,
        lng: -0.04566192626953125,
        zoom: 14
    },
    tiles: {
      url: "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
         options: {
             attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
           }
    }
  })
}]);
                </code></pre>
            </section>

            <section>
                <p>This is the result, a map centered in Castellon city:</p>
                <p class="center"><img src="img/leafletCastellon.png" style="width: 1000px;"></p>
            </section>
        </section>


        <section id="geotodo">
            <h3>The GeoTODO project</h3>
            <section>
                <p>Let's sum app all technologies we have seen to build a something fancy.</p>
                <p>First, let's see how to add a marker to our map. Add a new attribute <strong>makers</strong> to the <strong>leaflet</strong> element.</p>
                <pre><code lang="html" data-trim>
&lt;leaflet tiles=&quot;castellon&quot; lf-center=&quot;castellon&quot; markers=&quot;markers&quot; height=&quot;480px&quot; width=&quot;100%&quot;&gt;&lt;/leaflet&gt;
                </code></pre>
                <p>This attribute will contain the markers in our map.</p>
            </section>

            <section>
                <p>Now, lets add this code to our javascript file</p>
                <pre><code lang="javascript" data-trim>
$scope.markers = new Array();

$scope.$on("leafletDirectiveMap.click", function (event,args) {
    var latlng = args.leafletEvent.latlng;

    $scope.markers = [{
        lat: latlng.lat,
        lng: latlng.lng,
        message: "Hello"
    }]
});
                </code></pre>
                <ol>
                    <li>We are listening to <strong>leafletDirectiveMap.click</strong> events.</li>
                    <li>We define a <strong>function</strong> as listener.</li>
                    <li>This function receives to parameters, the event and information about the event.</li>
                    <li>For this event the information is the coordinates (lat, lng).</li>
                </ol>
            </section>

            <section>
                <p>This is the result:</p>
                <p class="center"><img src="img/leafletMark.png" style="width: 1000px"></p>
            </section>

            <section>
                <p>Let's extend our application to maintain multiple markers. Chage the javascript code to:</p>
                <pre><code lang="javascript" data-trim>
$scope.$on("leafletDirectiveMap.click", function (event,args) {
    var latlng = args.leafletEvent.latlng;

    $scope.markers.push({
        lat: latlng.lat,
        lng: latlng.lng,
        message: "Hello"
    });
});
                </code></pre>
                <p>Now, we are pushing any new marker into the array.</p>
            </section>

            <section>
                <p>This is the result:</p>
                <p class="center"><img src="img/leafletMarkers.png" style="width: 1000px"></p>
            </section>

            <section>
                <p>If you need more control about the mouse button pressed:</p>
                <pre><code lang="javascript" data-trim>
$scope.$on("leafletDirectiveMap.mousedown", function (event,args) {
    var mouseButton = args.leafletEvent.originalEvent.button;

    if(mouseButton == 2) { // Right button
        var latlng = args.leafletEvent.latlng;

        $scope.markers.push({
            lat: latlng.lat,
            lng: latlng.lng,
            message: "Hello"
        });
    }
});
                </code></pre>
                <p>Now, left button performs the usual actions, and we use the right button to add a new marker to the map.</p>
            </section>

            <section>
                <p>It would be nice if we could see a list of our todo items, let's add a table under the map:</p>
                <pre><code class="html" data-trim>
&lt;div class=&quot;container&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col-md-12&quot;&gt;
            &lt;h2&gt;TODO list&lt;/h2&gt;
            &lt;table class=&quot;table&quot;&gt;
                &lt;thead&gt;
                    &lt;tr&gt;&lt;th&gt;Message&lt;/th&gt;&lt;/tr&gt;
                &lt;/thead&gt;
                &lt;tbody&gt;
                    &lt;tr&gt;
                        &lt;td&gt;&lt;/td&gt;
                    &lt;/tr&gt;
                &lt;/tbody&gt;
            &lt;/table&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
                </code></pre>
            </section>

            <section>
                <p>Let's link the presentation with the data in our model using the controller:</p>
                <pre><code class="html" data-trim>
&lt;body ng-controller=&quot;TheController as theController&quot;&gt;
                </code></pre>
                <p>For each row in the table, we show its message field:</p>
                <pre><code class="html" data-trim="">
&lt;table class=&quot;table&quot;&gt;
    &lt;thead&gt;
        &lt;tr&gt;&lt;th&gt;Message&lt;/th&gt;&lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
        &lt;tr ng-repeat=&quot;marker in markers&quot;&gt;
            &lt;td&gt;{{marker.message}}&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;
                </code></pre>
                <p>The <strong>ng-repeat</strong> AngularJS directive, iterates over the elements of an array.</p>
            </section>

            <section>
                <p>This is the result:</p>
                <p class="center"><img src="img/leafletTable.png" style="width: 800px"></p>
            </section>

            <section>
                <p>Let's add a modal window to change the message for each todo item. First, let's add a new Info button for each todo item</p>
                <pre><code lang="html" data-trim>
&lt;table class=&quot;table&quot;&gt;
    &lt;thead&gt;
        &lt;tr&gt;&lt;th&gt;Message&lt;/th&gt;&lt;th&gt;&lt;/th&gt;&lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
        &lt;tr ng-repeat=&quot;marker in markers&quot;&gt;
            &lt;td&gt;{{marker.message}}&lt;/td&gt;
            &lt;td&gt;&lt;button class=&quot;btn btn-info&quot; ng-click=&quot;showInfo($index)&quot; data-toggle=&quot;modal&quot; data-target=&quot;#myModal&quot;&gt;Info&lt;/button&gt; &lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;
                </code></pre>
            </section>

            <section>
                <p>And the code for the modal window:</p>
                <pre><code lang="html" data-trim>
&lt;div class=&quot;modal fade&quot; id=&quot;myModal&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;myModalLabel&quot;&gt;
    &lt;div class=&quot;modal-dialog&quot; role=&quot;document&quot;&gt;
        &lt;div class=&quot;modal-content&quot;&gt;
            &lt;div class=&quot;modal-header&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot; aria-label=&quot;Close&quot;&gt;&lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;&lt;/button&gt;
                &lt;h4 class=&quot;modal-title&quot; id=&quot;myModalLabel&quot;&gt;Info&lt;/h4&gt;
            &lt;/div&gt;
            &lt;div class=&quot;modal-body&quot;&gt;
                &lt;p&gt;Change the item here:&lt;/p&gt;
                &lt;p&gt;Message: &lt;/p&gt;
            &lt;/div&gt;
            &lt;div class=&quot;modal-footer&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot; data-dismiss=&quot;modal&quot;&gt;Close&lt;/button&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
                </code></pre>
            </section>

            <section>
                <p>This is the result:</p>
                <p class="center"><img src="img/leafletModal.png" width="1000px"></p>
            </section>

            <section>
                <p>The next step is to link the wiew with the data in the model by means of the controller. We need to know which button was pressed:</p>
                <pre><code lang="html" data-trim>
&lt;td&gt;&lt;button class=&quot;btn btn-info&quot; ng-click=&quot;showInfo($index)&quot; data-toggle=&quot;modal&quot; data-target=&quot;#myModal&quot;&gt;Info&lt;/button&gt; &lt;/td&gt;
                </code></pre>
                <p>And in the javascript file:</p>
                <pre><code lang="javascript" data-trim>
$scope.currentMarker = {};

$scope.showInfo = function(index) {
    $scope.currentMarker = $scope.markers[index];
}
                </code></pre>
                <p>We are storing in the <strong>$scope.currentMarker</strong> model, the item selected in the list. Anytime we press a button, this model is updated.</p>
            </section>

            <section>
                <p>Finally, let's update the body of the modal window:</p>
                <pre><code lang="html" data-trim>
&lt;div class=&quot;modal-body&quot;&gt;
    &lt;p&gt;Change the item here:&lt;/p&gt;
    &lt;p&gt;Message:&lt;input type=&quot;text&quot; ng-model=&quot;currentMarker.message&quot;&gt;&lt;/p&gt;
&lt;/div&gt;
                </code></pre>
                <p class="center"><img src="img/leafletModal2.png" width="450px"></p>
            </section>

            <section>
                <p>Let's add a new  column for the due data of each item:</p>
                <pre><code lang="html" data-trim>
&lt;table class=&quot;table&quot;&gt;
    &lt;thead&gt;
        &lt;tr&gt;&lt;th&gt;Message&lt;/th&gt;&lt;th&gt;Due date&lt;/th&gt;&lt;th&gt;&lt;/th&gt;&lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
        &lt;tr ng-repeat=&quot;marker in markers&quot;&gt;
            &lt;td&gt;{{marker.message}}&lt;/td&gt;
            &lt;td&gt;{{marker.dueDate | date: &quot;dd/MM/yyyy (hh:mm)&quot;}}&lt;/td&gt;
            &lt;td&gt;&lt;button class=&quot;btn btn-info&quot; ng-click=&quot;showInfo($index)&quot; data-toggle=&quot;modal&quot; data-target=&quot;#myModal&quot;&gt;Info&lt;/button&gt; &lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;
                </code></pre>
                <p>Note:</p>
                <ol>
                    <li>The filter <strong> | date: "dd/MM/yyyy (hh:mm)</strong> to format the date.</li>
                    <li>We have added a new column.</li>
                </ol>
            </section>

            <section>
                <p>Next, add a new field to our javascript objects:</p>
                <pre><code lang="javascript" data-trim>
$scope.markers.push({
    lat: latlng.lat,
    lng: latlng.lng,
    message: "Hello",
    dueDate: new Date()
});
                </code></pre>
                <p>Finally, link it in the modal window:</p>
                <pre><code lang="html" data-trim>
&lt;p&gt;&lt;input type=&quot;datetime-local&quot; ng-model=&quot;currentMarker.dueDate&quot;&gt;&lt;/p&gt;
                </code></pre>
                <p>Note: type=&quot;datetime-local&quot; only works with Google Chrome.</p>
            </section>

            <section>
                <p>This is the result:</p>
                <p class="center"><img src="img/leafletDate.png" width="600px"></p>
            </section>

            <section>
                <p>Let's try something new. It would be fancy if we can get the postal address of each location.</p>
                <p>The <a href="http://nominatim.openstreetmap.org/" target="_blank">Nominatim OpenStreetMap</a> provides a free service for reverse geocoding: it returns the postal address given its geographic coordinates.</p>
                <p>How do we request a service using the http protocol in <strong>AngularJS</strong>?</p>
                <p><strong>AngularJS</strong> can inject a new  reference for doing that <strong>$http</strong>.</p>
                <pre><code lang="javascript" data-trim>
app.controller("TheController", [ "$scope", "$http", function($scope, $http) {
                </code></pre>
            </section>

            <section>
                <p>Let's re-write our code:</p>
                <pre><code lang="javascript" data-trim>
$scope.$on("leafletDirectiveMap.mousedown", function (event,args) {
    var mouseButton = args.leafletEvent.originalEvent.button;
    if(mouseButton == 2) { // Right button
        latlng = args.leafletEvent.latlng;
        reverseGeocoding(latlng);
    }
});

function reverseGeocoding(latlng) {
    var urlString = "http://nominatim.openstreetmap.org/reverse?format=json&lat=" +
    latlng.lat + "&lon=" +
    latlng.lng + "&zoom=18&addressdetails=1";
    $http.get(urlString).then(addMarker);
}

function addMarker(response) {
    $scope.markers.push({
        lat: latlng.lat,
        lng: latlng.lng,
        message: "Hello",
        dueDate: new Date()
    });
}
                </code></pre>
                <p>The <strong>reverseGeocoding(latlng)</strong> function is the key point.</p>
            </section>

            <section>
                <p>Finally, let's update the modal window:</p>
                <pre><code lang="html" data-trim>
&lt;div class=&quot;modal-body&quot;&gt;
    &lt;p&gt;Change the item here:&lt;/p&gt;
    &lt;p&gt;Message&lt;input type=&quot;text&quot; ng-model=&quot;currentMarker.message&quot;&gt;&lt;/p&gt;
    &lt;p&gt;&lt;input type=&quot;datetime-local&quot; ng-model=&quot;currentMarker.dueDate&quot;&gt;&lt;/p&gt;
    &lt;p&gt;Adrres: {{currentMarker.postalAddress}}&lt;/p&gt;
&lt;/div&gt;
                </code></pre>
                <p class="center"><img src="img/leafletPostalAddress.png" width="400px"></p>
            </section>


        </section>


        <section id="summary">
            <h3>Summary</h3>
            <section>
                <p>In this chapter you have seen how to use <strong>Leaflet</strong> using <strong>AngullarJS</strong> by means for <strong>angular-leaflet-directive</strong>.</p>
                <p>Now, you can <em>control</em> your maps and its content using <strong>AngularJS</strong>.</p>
            </section>
        </section>


        <section id="exercises">
            <h3>Exercises</h3>
            <section>
                <ol>
                    <li>Add a show button like in the image (Tip: use the focus attribute).</li>
                    <li>Add a new remove button to any item in the Geo-TODO application.</li>
                </ol>
                <p class="center"><img src="img/geoTODO.png" width="500px"></p>
            </section>
        </section>

    </div> <!-- slides -->

</div> <!-- reveal -->

<script src="../reveal-js/lib/js/head.min.js"></script>
<script src="../reveal-js/js/reveal.js"></script>

<script>

    // Full list of configuration options available at:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: false,
        width: 1366,
        hight: 768,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
            { src: '../reveal-js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
            { src: '../reveal-js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: '../reveal-js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: '../reveal-js/plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
            { src: '../reveal-js/plugin/zoom-js/zoom.js', async: true },
            { src: '../reveal-js/plugin/notes/notes.js', async: true }
        ]
    });

</script>

</body>
</html>
