<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>MVC with AngulaJS</title>

    <meta name="description" content="MVC with AngulaJS">
    <meta name="author" content="Oscar Belmonte Fernandez">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="../bower_components/reveal-js/css/reveal.css">
    <link rel="stylesheet" href="../bower_components/reveal-js/css/theme/simple.css" id="theme">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="../bower_components/reveal-highlight-themes/styles/default.css">

    <!--<link rel="stylesheet" href="../reveal/lib/css/zenburn.css">-->
    <link rel="stylesheet" href="../bower_components/reveal-js/lib/css/zenburn.css">

    <!-- Mis ajustes de css -->
    <link rel="stylesheet" href="../css/my.css">


    <!-- Printing and PDF exports -->
    <script>
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match( /print-pdf/gi ) ? '../bower_components/reveal-js/css/print/pdf.css' : '../bower_components/reveal-js/css/print/paper.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="../bower_components/reveal-js/lib/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

<div class="reveal">
    <!-- Any section element inside of this container is displayed as a slide -->
    <div class="slides">
        <section class="center">
            <h1>Web Development</h1>
            <h2>Client Side</h2>
            <h3>Bootstrap</h3>
            <h4>Óscar Belmonte Fernández</h4>
            <h4>Universitat Jaume I</h4>
        </section>

        <section>
            <h3>Introduction</h3>
            <section>
                <p>The Model-View-Controller design pattern is an extensively used pattern when designing applications with a Graphical User Interface (GUI).</p>
                <p>The principle underneath is to provide each piece of software with an unique and well define purpose.</p>
                <p><strong>AngularJS</strong> implements this design patter, so we use it to build our GUI making use of such a design patter.</p>
                <p><strong>AngularJS</strong> heavily uses javascript, so anything you already know about javascript can be used in <strong>AngularJS</strong>.</p>
            </section>
        </section>

        <section>
            <h3>Content</h3>
            <section>
                <ol>
                    <li><a href="#/what_is_angularjs">What is <strong>AngularJS</strong>?</a></li>
                    <li><a href="#/adding_angularjs">Adding <strong>AngularJS</strong> module to our web project.</a></li>
                    <li><a href="#/data_binding">Data binding</a>.</li>
                    <li><a href="#/directives"><strong>AngularJS</strong> directives</a>.</li>
                    <li><a href="#/separation_of_concerns">Separation of concerns</a>.</li>
                    <li><a href="#/mvc_angular">MVC with <strong>AngularJS</strong></a>.</li>
                    <li><a href="#/summary">Summary</a>.</li>
                </ol>
            </section>
        </section>

        <section id="what_is_angularjs">
            <h3>What is AngularJS?</h3>
            <section>
                <img src="../Presentation/img/AngularJS-large.png">
                <blockquote>HTML is great for declaring static documents, but it falters when we try to use it for declaring dynamic views in web-applications. AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop. </blockquote>
                <p><a href="https://angularjs.org/" target="_blank"><strong>AngularJS</strong></a> helps us to create MVC web applications for the client side (browser).</p>
            </section>
        </section>

        <section id="adding_angularjs">
            <h3>Adding AngularJS module to our web project</h3>
            <section>
                <p>We use bower to install AngularJS in our project:</p>
                <pre><code lang="console" data-trim>
$ bower install angular --save
bower angular#*                 cached git://github.com/angular/bower-angular.git#1.4.5
bower angular#*               validate 1.4.5 against git://github.com/angular/bower-angular.git#*
bower angular#~1.4.5           install angular#1.4.5

angular#1.4.5 bower_components/angular
                </code></pre>
                <p>The dependencies section of our <strong>bower.js</strong> looks like:</p>
                <pre><code lang="json" data-trim>
&quot;dependencies&quot;: {
    &quot;angular&quot;: &quot;~1.4.5&quot;,
    &quot;bootstrap&quot;: &quot;~3.3.5&quot;
}
                </code></pre>
                <p>Now, we are ready to use AngularJS in out project.</p>
            </section>
        </section>

        <section id="data_binding">
            <h3>Data binding</h3>
            <section>
                <p>As a first example on AngularJS power lets see how data binding works.</p>
                <pre><code lang="html">
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot; ng-app&gt;
&lt;head&gt;
        &lt;meta charset=&quot;utf-8&quot;&gt;
        &lt;meta http-equiv=&quot;X-UA-Compatible&quot; content=&quot;IE=edge&quot;&gt;
        &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;&gt;
        &lt;title&gt;My first AngularJS&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
    &lt;div&gt;
        &lt;label&gt;Name:&lt;/label&gt;
        &lt;input type=&quot;text&quot; ng-model=&quot;yourName&quot; placeholder=&quot;Enter a name here&quot;&gt;
        &lt;hr&gt;
        &lt;h1&gt;Hello {{yourName}}!&lt;/h1&gt;
    &lt;/div&gt;
    &lt;script src=&quot;../../bower_components/jquery/dist/jquery.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;../../bower_components/angular/angular.min.js&quot;&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
                </code></pre>
            </section>

            <section>
                <p>Things to note:</p>
                <pre><code lang="html" data-trim>
&lt;html lang=&quot;en&quot; ng-app&gt;
                </code></pre>
                <p><strong>ng-app</strong> is an <strong>AnglarJS</strong> directive. Should be present.</p>
                <pre><code>
&lt;input type=&quot;text&quot; ng-model=&quot;yourName&quot; placeholder=&quot;Enter a name here&quot;&gt;
                </code></pre>
                <p>Another <strong>AngularJS</strong> directive <strong>ng-model</strong> says that this is a two binding data model.</p>
                <pre><code lang="html" data-trim>
&lt;h1&gt;Hello {{yourName}}!&lt;/h1&gt;
                </code></pre>
                <p>These double curly braces means that its content will be updated anytime that the data model <strong>yourName</strong> changes.</p>
            </section>

            <section>
                <p>Finally:</p>
                <pre><code lang="html" data-trim>
&lt;script src=&quot;../../bower_components/jquery/dist/jquery.min.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;../../bower_components/angular/angular.min.js&quot;&gt;&lt;/script&gt;
                </code></pre>
                <p>We are including both: <a href="http://jquery.com/" target="_blank"><strong>jQuery</strong></a> and <strong>AngularJS</strong> itself.</p>
            </section>
        </section>

        <section id="directives">
            <h3>AngularJS directives</h3>
            <section>
                <blockquote>At a high level, directives are markers on a DOM element (such as an attribute, element name, comment or CSS class) that tell AngularJS's HTML compiler ($compile) to attach a specified behavior to that DOM element (e.g. via event listeners), or even to transform the DOM element and its children.</blockquote>
                <p>So, we use <strong>AngularJS</strong> directives to change the DOM... in some way.</p>
            </section>

            <section>
                <p>Let's see some other <strong>AngluarJS</strong> directives:</p>
                <pre><code lang="html" data-trim>
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot; ng-app&gt;
&lt;head&gt;
    &lt;meta charset=&quot;utf-8&quot;&gt;
    &lt;meta http-equiv=&quot;X-UA-Compatible&quot; content=&quot;IE=edge&quot;&gt;
    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;&gt;
    &lt;title&gt;Adding two numbers in AngularJS&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div&gt;
    &lt;label&gt;The result of:&lt;/label&gt;
    &lt;input type=&quot;text&quot; ng-model=&quot;one&quot; ng-init=&quot;one = 0&quot;&gt; + &lt;input type=&quot;text&quot; ng-model=&quot;the_other&quot; ng-init=&quot;the_other = 0&quot;&gt; is {{one*1 + the_other*1}}
&lt;/div&gt;
&lt;script src=&quot;../../bower_components/jquery/dist/jquery.min.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;../../bower_components/angular/angular.min.js&quot;&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
                </code></pre>
            </section>
        </section>

        <section id="separation_of_concerns">
            <h3>Separation of concerns</h3>
            <section>
                <p>A general good practice in programming is <strong>Separation of concerns</strong>. The basic idea behind is to segregate responsibilities between modules/actor/components/... and do not mix them in the same module/actor/component.</p>
                <p>The <strong>MVC</strong> design pattern is a particular case of separation of concerns. Three different concerns are defined:</p>
                <ul>
                    <li><strong>Model</strong>: All data and any logic to manipulate it (typically: create, retrieve, update and delete operations). </li>
                    <li><strong>View</strong>: Anything related with the visualization of the data retreived from the model.</li>
                    <li><strong>Controller</strong>: This connects interactions with the View into changes in the Model, and changes in the Model as updates to the View.</li>
                </ul>
            </section>

            <section>
                <p>In the case of a Web application:</p>
                <ul>
                    <li>Model: the data to be rendered on the browser, typically in <a href="http://json.org/" target="_blank">json</a> format.</li>
                    <li>View: the web page rendering, defined using <a href="http://www.w3.org/standards/webdesign/htmlcss" target="_blank">HTML</a> and stylized using <a href="http://www.w3.org/standards/webdesign/htmlcss" target="_blank">CSS</a> </li>
                    <li>Controller: the glue between the Model and the View, written using Javascript.</li>
                </ul>
            </section>
        </section>

        <section id="mvc_angular">
            <h3>MVC with AngularJS</h3>
            <section>
                <p>Let's <em>Angularize</em> our previous example.</p>
                <img src="img/firstBootstrapPageButtons.png">
            </section>

            <section>
                <p>First, let's say that we want an <strong>AngularJS</strong> application</p>
                <pre><code lang="html" data-trim>
                    &lt;html lang=&quot;en&quot; ng-app=&quot;app&quot;&gt;
                </code></pre>
                <p>Second let's inject the controller:</p>
                <pre><code lang="html" data-trim>
                    &lt;body ng-controller=&quot;MyController as myController&quot;&gt;
                </code></pre>
            </section>

            <section>
                <p>Now let's link data from the controller into our view:</p>
                <pre><code lang="html" data-trim>
&lt;div class=&quot;container&quot;&gt;
    &lt;div class=&quot;starter-template&quot;&gt;
        &lt;h1&gt;Table populated with AngularJS controller&lt;/h1&gt;
        &lt;table class=&quot;table table-hover&quot;&gt;
            &lt;thead&gt;
                &lt;tr&gt;&lt;td&gt;&lt;strong&gt;Name&lt;/strong&gt;&lt;/td&gt;&lt;td&gt;&lt;strong&gt;Surname&lt;/strong&gt;&lt;/td&gt;&lt;/tr&gt;
            &lt;/thead&gt;
            &lt;tbody&gt;
                &lt;tr ng-repeat=&quot;person in people&quot;&gt;
                    &lt;td&gt;{{person.name}}&lt;/td&gt;
                    &lt;td&gt;{{person.surname}}&lt;/td&gt;
                    &lt;td&gt;&lt;td&gt;&lt;button type='button' class='btn btn-info' data-toggle='modal' data-target='#myModal' ng-click='currentPerson($index)'&gt;Info&lt;/button&gt;&lt;/button&gt;&lt;/td&gt;
                &lt;/tr&gt;
            &lt;/tbody&gt;
        &lt;/table&gt;
    &lt;/div&gt;
                </code></pre>
            </section>

            <section>
                <p>The javascript controller code:</p>
                <pre><code lang="html" data-trim>
angular.module(&quot;app&quot;, [])
    .controller(&quot;MyController&quot;, function($scope) {
        $scope.people = [
            {
                name:&quot;Oscar&quot;,
                surname:&quot;Belmonte&quot;
            },
            {
                name:&quot;Mar&iacute;a del Carmen&quot;,
                surname:&quot;Erdozain&quot;
            },....
                </code></pre>
            </section>

            <section>
                <p>The modal windonw:</p>
                <pre><code lang="html" data-trim>
&lt;div class=&quot;modal fade&quot; id=&quot;myModal&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;myModalLabel&quot;&gt;
    &lt;div class=&quot;modal-dialog&quot; role=&quot;document&quot;&gt;
        &lt;div class=&quot;modal-content&quot;&gt;
            &lt;div class=&quot;modal-header&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot; aria-label=&quot;Close&quot;&gt;&lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;&lt;/button&gt;
                &lt;h4 class=&quot;modal-title&quot; id=&quot;myModalLabel&quot;&gt;Info&lt;/h4&gt;
            &lt;/div&gt;
            &lt;div class=&quot;modal-body&quot;&gt;
                &lt;p&gt;Detailed info about the person goes here.&lt;/p&gt;
                &lt;p&gt;Name: {{current_person.name}} Surname: {{current_person.surname}}&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class=&quot;modal-footer&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot; data-dismiss=&quot;modal&quot;&gt;Close&lt;/button&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
                </code></pre>
            </section>

            <section>
                <p>The javascript code in the controller to update the current person:</p>
                <pre><code lang="html" data-trim>
$scope.currentPerson = function (index) {
    $scope.current_person = $scope.people[index];
}
                </code></pre>
            </section>
        </section>

        <section id="summary">
            <h3>Summary</h3>
            <section>
                <p>We have seen a step by step tutorial on how to <em>Angularize</em> our javascript Web applications.</p>
                <p>The benefit of using <strong>AngularJS</strong> is we can independently build each part of our Web application.</p>
                <p>We have seen how to build the GUI using <strong>HTML</strong> and how to bind the data to that provided by a <strong>Controller</strong>.</p>
                <p>In the second part of the course, we will see how to provide the data to our controller by means of a server application.</p>
            </section>
        </section>

    </div>
</div>

<script src="../bower_components/reveal-js/lib/js/head.min.js"></script>
<script src="../bower_components/reveal-js/js/reveal.js"></script>

<script>

    // Full list of configuration options available at:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: false,
        width: 1366,
        hight: 768,

        transition: 'fade', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
            { src: '../bower_components/reveal-js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
            { src: '../bower_components/reveal-js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: '../bower_components/reveal-js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: '../bower_components/reveal-js/plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
            { src: '../bower_components/reveal-js/plugin/zoom-js/zoom.js', async: true },
            { src: '../bower_components/reveal-js/plugin/notes/notes.js', async: true }
        ]
    });

</script>

</body>
</html>